.l_filter {
    font-weight: bold;
    margin-bottom: 0.25em;
}

#mf-clear-x {
    color: #a0a0a0;
}

.m_highlight {
    background-color: #e0e0e0;
}

.gfselect {
    margin-left: 1em;
    padding: 0.875rem 0;
    list-style-type: none;
    list-style-position: outside;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.nowrap {
    white-space: nowrap;
}

.capitalize {
    text-transform: capitalize;
}

#range-back, #range-forward, #range-permalin, #json-link {
    font-size: 14pt;
}

.mg-chart-title {
    cursor: default;
    font-size: 1.2rem;
    padding-top: 8px;
    text-align: center;
}